    .calc{
    color: #14782e;
    background: transparent;
    border: 2px solid #14782e;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    background-color: white; 
    color: black; 
    border: 2px solid #14782e;
        }
        
    .calc:hover {
      background-color: #14782e;
      color: white;
    }
    
    .fieldset{
    border-color: #14782e;
    border-width: 10px;
    width: 550px;
    border-radius:26px;  
    background-color:white;
    }
    body{
    background-color: #D4F7DD;
    }
    .resultado{
    border: 2px solid #14782e;
    width:500; 
    border-radius: 16px; 
    padding: 16px;
    background-color: #D4F7DD;
    }
    .tamaño{
        width: 360px;
    }
    p{text-align: left;
    }
    select{
        width: 100px;
        border: 2px solid #14782e;
    }
    .txt{
        
        float: left;
        background-color: #e9ecef;
    }
    pre{
        text-align: left;
    }
    .PE{
        text-align: center
    }
    .prov{
        width: 310px
    }
    h1{
    color: #14782e;
    }
    input{
     border: 2px solid #14782e;
    }